{% load static %}

<div class="section promo-part">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
        <div class="promo-img">
          <a href=""
            ><img src=" {% static 'images/promo/home/01.jpg' %} " alt="promo"
          /></a>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
        <div class="promo-img">
          <a href=""
            ><img src=" {% static 'images/promo/home/02.jpg' %} " alt="promo"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
