<section class="news-part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-6 col-xl-7">
        <div class="news-text">
          <h2>Get 25% Discount for Subscriber</h2>
          <p>
            Hurry Up ! Be the new subscriber and enjoy 25% discount on selected
            products.
          </p>
        </div>
      </div>
      <div class="col-md-7 col-lg-6 col-xl-5">
        <form class="news-form">
          <input type="text" placeholder="Enter Your Email Address" />
          <button class="btn btn-outline-secondary sub-btn">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="visual-part">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="visual-wrap">
          <div class="visual-icon">
            <i class="icofont-vehicle-delivery-van"></i>
          </div>
          <div class="visual-content">
            <h5>Free home delivery</h5>
            <p>We provide you the best fresh food with no delivery charge.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="visual-wrap">
          <div class="visual-icon"><i class="icofont-retweet"></i></div>
          <div class="visual-content">
            <h5>Instant return policy</h5>
            <p>Instant refund policy if the food is not fresh.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="visual-wrap">
          <div class="visual-icon"><i class="icofont-support"></i></div>
          <div class="visual-content">
            <h5>24/7 support system</h5>
            <p>We are here for you to answer all of your questions.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="visual-wrap">
          <div class="visual-icon"><i class="icofont-ssl-security"></i></div>
          <div class="visual-content">
            <h5>Secure payment way</h5>
            <p>We provide the best secure payment way.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
