{% extends 'main.html' %} {% block body %}

<style>
  .dashboard {
    padding: 50px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
  }
</style>

<div class="dashboard">
  <form class="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}}

    <button type="submit" class="btn btn-primary">add</button>
  </form>
</div>

<div class="dashboard">
  <ui>
    <h2>Banners</h2>
    {% for banner in banners %}
    <li>
      <a
        href=" {% url 'dashboard:edit_banner' banner.id %} "
        class="link-primary"
        >{{banner}}</a
      >
      <form
        action=" {% url 'dashboard:delete_banner' banner.id %} "
        method="POST"
      >
        {% csrf_token %}
        <button type="submit" class="btn btn-denger">delete</button>
      </form>
    </li>
    {% endfor %}
  </ui>
</div>
{% endblock %}
