{% extends 'main.html' %} {% block body %} 
{% load static %}
<link rel="stylesheet" href=" {% static 'css/custom/contact.css' %} " />

    <section class="inner-section single-banner">
      <div class="container">
        <h2>contact us</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
      </div>
    </section>

    <section class="inner-section contact-part">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="contact-card">
              <i class="icofont-location-pin"></i>
              <h4>Head office</h4>
              <p>Block-D, Road-3/C, Uttara, Dhaka,Bangladesh</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="contact-card active">
              <i class="icofont-phone"></i>
              <h4>phone number</h4>
              <p>
                <a href="#">(+880)19-43827803 <span></span></a
                ><a href="#">(+880)15-21330313</a>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="contact-card">
              <i class="icofont-email"></i>
              <h4>Support mail</h4>
              <p>
                <a href="#">freshfarm@gmail.com</a
                ><a href="#">farmfresh@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="contact-map">
              <iframe
                src=" ../../../maps/embed.html?pb=!1m18!1m12!1m3!1d3654.3406974350205!2d90.48469931445422!3d23.663771197998262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b0d5983f048d%3A0x754f30c82bcad3cd!2sJalkuri%20Bus%20Stop!5e0!3m2!1sen!2sbd!4v1605354966349!5m2!1sen!2sbd "
                width="100%"
                height="100%"
                frameborder="0"
                style="border: 0"
                allowfullscreen="100%"
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
          </div>
          <div class="col-lg-6">
            <form class="contact-form" method="POST">

            {% csrf_token %}

              <h4>Drop Your Thoughts</h4>
              <div class="form-group">
                <div class="form-input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Your Name"
                    name="name"
                  /><i class="icofont-user-alt-3"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="form-input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Your Email"
                    name="email"
                  /><i class="icofont-email"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="form-input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Your Subject"
                    name="subject"
                  /><i class="icofont-book-mark"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="form-input-group">
                  <textarea
                    class="form-control"
                    placeholder="Your Message"
                    name="message"
                  ></textarea
                  ><i class="icofont-paragraph"></i>
                </div>
              </div>
              <button type="submit" class="form-btn-group">
                <i class="icofont-ui-message"></i><span>send message</span>
              </button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="branch-card">
              <img src=" {% static 'images/branch/01.jpg' %} " alt="branch" />
              <div class="branch-overlay">
                <h3>Dhaka</h3>
                <p>Block-D, Road-3/C, Uttara, Dhaka,Bangladesh</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="branch-card">
              <img src=" {% static 'images/branch/02.jpg' %} " alt="branch" />
              <div class="branch-overlay">
                <h3>Gazipur</h3>
                <p>Rajbari Road,Joydebpur,Gazipur,1700</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="branch-card">
              <img src=" {% static 'images/branch/03.jpg' %} " alt="branch" />
              <div class="branch-overlay">
                <h3>Tangail</h3>
                <p>Mirjapur,Tangail Sadar,Tangail, 1900</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news-part">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-6 col-xl-7">
            <div class="news-text">
              <h2>Get 25% Discount for Subscriber</h2>
              <p>
                Hurry Up ! Be the new subscriber and enjoy 25% discount on
                selected products.
              </p>
            </div>
          </div>
          <div class="col-md-7 col-lg-6 col-xl-5">
            <form class="news-form" action=" {% url 'base:subscribe' %} " method='POST'>
            {% csrf_token %}
              <input type="text" name="email" placeholder="Enter Your Email Address" />
              <button type="submit" class="btn btn-outline-secondary sub-btn">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="visual-part">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="visual-wrap">
              <div class="visual-icon">
                <i class="icofont-vehicle-delivery-van"></i>
              </div>
              <div class="visual-content">
                <h5>Free home delivery</h5>
                <p>
                  We provide you the best fresh food with no delivery charge.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="visual-wrap">
              <div class="visual-icon"><i class="icofont-retweet"></i></div>
              <div class="visual-content">
                <h5>Instant return policy</h5>
                <p>Instant refund policy if the food is not fresh.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="visual-wrap">
              <div class="visual-icon"><i class="icofont-support"></i></div>
              <div class="visual-content">
                <h5>24/7 support system</h5>
                <p>We are here for you to answer all of your questions.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="visual-wrap">
              <div class="visual-icon">
                <i class="icofont-ssl-security"></i>
              </div>
              <div class="visual-content">
                <h5>Secure payment way</h5>
                <p>We provide the best secure payment way.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{%endblock%}
