{% extends 'main.html' %} {% block body %} {% load static %}
<link rel="stylesheet" href=" {% static 'css/custom/product-details.css' %} " />

{% include 'products/product_details/product_details_1.html' %}
<span></span>
{% include 'products/product_details/product_details_2.html' %}
<span></span>
{% include 'products/product_details/product_details_3.html' %}
<span></span>
{% include 'products/product_details/product_details_4.html' %}
<span></span>
{% include 'products/product_details/product_details_5.html' %}
<span></span>

{% endblock %}
