<div class="modal fade" id="address-edit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button class="modal-close" data-bs-dismiss="modal">
        <i class="icofont-close"></i>
      </button>
      <form class="modal-form">
        <div class="form-title"><h3>edit address info</h3></div>
        <div class="form-group">
          <label class="form-label">title</label>
          <select class="form-select">
            <option value="home" selected="">home</option>
            <option value="office">office</option>
            <option value="Bussiness">Bussiness</option>
            <option value="academy">academy</option>
            <option value="others">others</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">address</label
          ><textarea
            class="form-control"
            placeholder="jalkuri, fatullah, narayanganj-1420. word no-09, road no-17/A"
          ></textarea>
        </div>
        <button class="form-btn" type="submit">save address info</button>
      </form>
    </div>
  </div>
</div>
